.page{
    width: 80%;
    margin: auto;
}

p{
    padding: 0px !important;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}

a:hover{
    color: white;
}

#game{
    margin-bottom: 200px;
}


